<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">KORKU</a>
    <a href="#" class="list-group-item list-group-item-action active">DRAM</a>
    <a href="#" class="list-group-item list-group-item-action active">BİLİM KURGU</a>
    <a href="#" class="list-group-item list-group-item-action active">AKSİYON</a>
    <a href="#" class="list-group-item list-group-item-action active">KOMEDİ</a>

</div>