<div class="card mb-3">

    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="/img/shazam.jpg" alt="" class="card-img">

        </div>

         <div class="col-md-9">

        <div class="card-body">
            <h5 class="card-title">Shazam</h5>
            <p class="card-text">Annesini aramak için yeni beslenen genç bir çocuk bunun yerine beklenmedik süper güçler bulur ve kısa sürede güçlü bir düşman kazanır.
              </p>
            <p class="card-text">
                <small class="text-muted">3 days ago</small>

            </p>
        </div>
        </div>

    </div>

</div>


<div class="card mb-3">

    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="/img/amazing_grace.jpg" alt="" class="card-img">

        </div>

         <div class="col-md-9">

        <div class="card-body">
            <h5 class="card-title">Amazing Grace</h5>
            <p class="card-text">
                Ocak 1972'de Los Angeles'ın Watts kentindeki Yeni Beytel Baptist Kilisesi'nde koro ile Aretha Franklin'i sunan bir belgesel.</p>
            <p class="card-text">
                <small class="text-muted">3 days ago</small>

            </p>
        </div>
        </div>

    </div>

</div>

<div class="card mb-3">

    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="/img/high_life.jpg" alt="" class="card-img">

        </div>

         <div class="col-md-9">

        <div class="card-body">
            <h5 class="card-title">High Life</h5>
            <p class="card-text">A father and his daughter struggle to survive in deep space where they live in isolation.
              </p>
            <p class="card-text">
                <small class="text-muted">3 days ago</small>

            </p>
        </div>
        </div>

    </div>

</div>

<div class="card mb-3">

    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="/img/billboard.jpg" alt=""  class="card-img" >

        </div>

         <div class="col-md-9">

        <div class="card-body">
            <h5 class="card-title">Billboard</h5>
            <p class="card-text">
                Zamanlar zor, dinleyici gemisi düştü ve Casey'nin radyo istasyonu WTYT 960'ı kurtarmak için bir plan yapması gerekiyor ve hızlı! Casey'nin büyük planı, dört şanslı yarışmacının "dokuz-altmış bin dolar ve bir mobil ev" kazanma şansına sahip olduğu bir billboard oturma yarışmasına ev sahipliği yapmak. 
                Tek yapmaları gereken hayatta kalan son kişi olmak, bir reklam panosunda yaşamak.</p>
            <p class="card-text">
                <small class="text-muted">3 days ago</small>

            </p>
        </div>
        </div>

    </div>

</div>

<div class="card mb-3">

    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="/img/storm_boy.jpg" alt="" class="card-img">

        </div>

         <div class="col-md-9">

        <div class="card-body">
            <h5 class="card-title">Storm Boy</h5>
            <p class="card-text">Başarılı bir emekli işadamı olan Michael Kingley, geçmişinden açıklayamadığı görüntüleri görmeye başladığında, çocukluğunu ve çocukken olağanüstü bir yetim pelikan olan Bay Percival'i nasıl kurtarıp büyüttüğünü hatırlamak zorunda kalır</p>
            <p class="card-text">
                <small class="text-muted">3 days ago</small>

            </p>
        </div>
        </div>

    </div>

</div>



